@use "../global/variables" as *;

.page-favourites {

  .no-favourites {
    max-width: 30rem;
    margin: 0 auto;

    img {
      display: block;
      margin: 2rem auto;
      max-width: 10rem;
    }
  }
}