
// Colours
$blue: #60aef0;
$purple: #9560c6;
$grey: #1A1A1A;
$grey-dark: #0F0F0F; 
$grey-blue: #3A3D57;
$light-grey-blue: #8185a8;
$dark-blue: #0E101F;
$white: #FFFFFF;
$black: #000000;


// Fonts
$main-font: "Satoshi", sans-serif;
$display-font: "Satoshi", sans-serif;

// Layout gap
$layout-gap: 1rem;

// Breakpoints
$bp-phone-lg: 30rem;    // 480px
$bp-tablet: 35rem;      // 560px
$bp-laptop: 56.25rem;   // 900px
$bp-desktop: 75rem;     // 1200px
$bp-desktop-lg: 90rem;  // 1440px

// Max width for large screens
$max-width: 100rem;      // 1600px